html{
    width: 100%;
}

@font-face {
    font-family: RobotoCondensed;
    src:url(RobotoCondensed-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(Roboto-Regular.ttf);
}
.header{
    background: #d9d9d9;
    width: 100%;
    padding: 20px;
}
.adjust{
    margin-left: 100px;
    margin-right: 100px;
}

.container-margin
{
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
    
}

a:link{
    color: #595959;
}
a:active{
    color: #888787;
    text-decoration: none;
}

a:visited{
    color: #888787;
    text-decoration: none;
}

.navContainer{
    margin-left: 50px;
    margin-right: 50px;
    height: auto;
}

.navTextColorPrimary{
    color: #000000;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
}

.nav-item-border {
    flex: 1 1 auto;
    text-align: center;
    border-left: 1px solid rgba(136, 135, 135, 0.4);
    border-right: 1px solid rgba(136, 135, 135, 0.4);
  }

.navText{
    margin-top: 10px;
    font-family: RobotoCondensed;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #000000;
}

.navBottomText{
    position: relative;
    top: 5px;
    font-family: RobotoCondensed;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #474747;
    text-align: center;
}

.video-fit {
    width: 100%;
    max-height: 100vh;
    margin: auto;
}

.img-container{
    display: grid;
    height: 100%;
}

.img-title{
    position: relative;
    right: 60px;
}

.container-company{
    border: 1px solid color(srgb(242,72,33));
}

.img-house{
    position: relative;
    margin-top: 73px;
    margin-bottom: 70px;
    width: 100%;
}

.dvg-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 34px;
    position: relative;
    padding-top: 121px;
}

.dvg-line{

    position: relative;
    background-color: #BF0F0F;
    width: 137px;
    height: 6px;
    margin-top: 22px;
}

.dvg-descript{
    position:relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    padding-top: 27px;
}

.dvg-line-silver{

    position: relative;
    width: auto;
    height: 3px;
     
    background: rgba(196, 196, 196, 0.4);
}

.dvg-descript-long{
    position:relative;
    padding-top: 54px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}

.dvg-company-button-container{

position: relative;
width: auto;
height: 48px;
padding-top: 50px;
padding-bottom: 60px;
}

.dvg-company-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 16px;
    gap: 8px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: white;
    background: #BF0F0F;
    border-radius: 4px;
    }
.dvg-company-button:hover{
     background-color: white;
    color: black;
  }

.dvg-features{
    margin-top: 74px;
    margin-bottom: 50px;
}

.dvg-line-small{

    position: relative;
    background-color: #BF0F0F;
    width: 50px;
    height: 2px;
}

.dvg-feature-name{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 22px;
text-transform: uppercase;
margin-top: 26px;
margin-bottom: 6px;
}

.dvg-descript-img{
    width: 100%;
}

.dvg-feature-container{
    padding-left: 104px;
    padding-right: 104px;
}

.card {
    padding-top: 15px;
    transition: 0.3s;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    padding-bottom: 15px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
.card-container{
    padding: 10px 16px;
}